<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="mb-3">
        <label for="itemName" class="form-label">Item Name</label>
        <input type="text" class="form-control" id="itemName" name="itemName" placeholder="Item Name" 
        [(ngModel)]="userSettings.itemName" required #nameField="ngModel"
        (blur)="onBlur(nameField)"
        [class.field-error]="form.submitted && nameField.invalid">
        <div [hidden]='!form.submitted || nameField.valid' class="alert alert-danger">
            Enter a name
        </div>

    </div>

    <h3> 

    </h3>    
    <div class="mb-3">
        <label for="roomList" class="form-label">Room</label>
        <input class="form-control" list="datalistOptions" id="roomList" name="roomList" placeholder="Room..." [(ngModel)]="userSettings.itemRoom">
        <datalist id="datalistOptions">
            <option value="Garage">
            <option value="Basement">
            <option value="Attic">
            <option value="Shed">
        </datalist>
    </div>

    <div class="mb-3">
        <label for="whereInRoom" class="form-label">Where in the Room</label>
        <input type="text" class="form-control" id="whereInRoom" name="whereInRoom" placeholder="Where in the Room" [(ngModel)]="userSettings.whereInRoom">
    </div>
    
    <div class="mb-3">
        <label for="itemUnit" class="form-label">Units</label>
        <input type="number" class="form-control" id="itemUnit" name="itemUnit" placeholder="Units" 
        [(ngModel)]="userSettings.itemUnit" type="number" min="1">
    </div>
    <button>OK</button>

</form>
{{ form.value | json }}
